.Boton {
    -webkit-box-shadow: 3px 3px 0px #424242;
    -moz-box-shadow: 3px 3px 0px #525252;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: White;
    font-size: 18px;
    background: #808080;
    text-decoration: none;
}

.Boton:hover {
  background: silver;
  color: White;
  text-decoration: none;
}
.StyleGridV, .StyleGridVActaAdmin {
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #525252;
    border-collapse: collapse;
}
    .StyleGridV td, .StyleGridVActaAdmin td {
        padding: 2px;
        border: solid 1px #c1c1c1;
        color: #717171;
        text-transform: uppercase;
    }
    .StyleGridV th, .StyleGridVActaAdmin th {
        padding: 4px 2px;
        color: #fff;
        background: #424242 url(../Imagenes/Generales/EncabezadoGrid.png) repeat-x top;
        border-left: solid 1px #525252;
        font-size: 0.9em;
    }
    .StyleGridV td{
        font-size: 8pt;
    }
    .StyleGridVActaAdmin td {
        font-size: 6.4pt;
    } 
.StyleGridV .AlterS {  
    background: #fcfcfc url(../Imagenes/Generales/FondoRowGrid.png) repeat-x top;
}
.StyleGridV .PagerS   
{
    background: #424242 url(../Imagenes/Generales/EncabezadoGrid.png) repeat-x top;
}
.StyleGridV .PagerS table {  
    margin: 5px 0;  
}
.StyleGridV .PagerS td {  
    border-width: 0;  
    padding: 0 6px;  
    border-left: solid 1px #666;  
    font-weight: bold;  
    color: #fff;  
    line-height: 12px;  
}
.StyleGridV .PagerS a {  
    color: #666;  
    text-decoration: none;  
}
.StyleGridV .PagerS a:hover {  
    color: #000;  
    text-decoration: none;  
}

/* Inicia estilo para color y tipo de letra de todos los tipos de controles y las clases necesarias */
/*input[type="text"]
{
    color: #663622;
    background-color: White;
    border: 1px solid #663622;
    font-family: Century Schoolbook;
}*/

textarea
{
    color: #663622;
    background-color: White;
    border: 1px solid #663622;
    font-family: Century Schoolbook;
}

select
{
    color: #663622;
    background-color: White;
    border: 1px solid #663622;
    font-family: Verdana;
}


.StyleDdl {
   overflow: hidden;
   color: #663622;
   background-color: #E2E1C1;
   border: 1px solid #663622;
   border-radius: 3px;
   font-family: Century Schoolbook;
   text-transform: uppercase;
}


.TxtNotasDirDil
{
    width:300px;
    color: #663622;
    background-color: White;
    border: 1px solid #663622;
    font-family: Century Schoolbook;
}


.TxtNotasDil
{
    width:400px;
    
    color: #663622;
    background-color: White;
    border: 1px solid #663622;
    font-family: Century Schoolbook;
}

fieldset
{
    height:auto; 
    width:auto;
}

/* Terminan estilos */
.ImgCalendario
{
    margin-left:10px;
}

.GralDivContenedorDerecha
{
    width:100%;
    height: 40px;
    float: right;
}
.GralDivBotonesDerecha
{
    float:right;
}
.GralDivContenedor
{
    height:100%;
    width:100%;
}

/* DataViewRow no visible */
.hidden
{
    display:none;
}

.LblTitulo {
    background: linear-gradient(to bottom, #717171 0%, #c1c1c1 100%);
    font-size: 18pt;
    font-family: Calibri;
    font-weight: bold;
    color: #0C2261;
}
.DivTitulo
{
    height:20px;
    text-align:center;
    background: #717171; /*#F5F4EC;*/
    text-decoration: underline;
    letter-spacing: 2px;
    padding-top:10px;
}

#bodyContenedorBda {width:950px; height:550px;}

#bodyBienvenida{width:55%; height:510px; float:left; background:White; position:relative; padding:0 88px; clear:both; margin-top:20px; margin-bottom:20px; border-color:#88836B; border-style:double; }
#bodyBienvenida h2{width:130px; height:35px; display:block; color:#3C2724; font:20px/50px Georgia, "Times New Roman", Times, serif; font-weight:normal;}
#bodyBienvenida p{text-align:justify; color:Black;}

.DivObjetivos {margin-left:2%; width:21%; float:left; height:510px; margin-top:20px; background:White; border-color:#88836B; border-style:double;}
.DivObjetivos h2 {width:85%; height:20px; display:block; background:#A4A4A4; color:#3C2724; padding-left:10px; padding-right:10px; margin: 5px; text-align:center; font:15px/15px Georgia, "Times New Roman", Times, serif; font-weight:normal;}
.DivObjetivos p{text-align:justify; color:Black;}

/*Color Notificaciones*/
.CustomPnotify div.ui-pnotify-container {
    background-color: #D8D8D8;
}

/*Registro de un bien*/
#bodyContenedorRegistro {
    width: 100%;
    height: 2400px;
}

#div1 {
    width: 100%;
    height: auto;
    float: left;
    /*position: relative;
    padding: 0 10px;*/
    clear: both;
    margin-top: 23px;
    margin-bottom: 20px;
    left: -41px;
}

#bodyInfoAdquisicion h2 {
        width: 796px;
        height: 30px;
        display: block;
        color: #3C2724;
        font: 15px/20px Georgia, "Times New Roman", Times, serif;
        font-weight: normal;
        text-align: center;
    }

#bodyInfoGeneral {
    margin-left: 9.6%;
    padding: 0 6px;
    width: 100%;
    float: left;
    /*height: 870px;*/
    margin-top: 23px;
    text-align: left;
}

#bodyInfoGeneral h2 {
        width: 750px;
        height: 55px;
        display: block;
        color: #3C2724;
        font: 15px/20px Georgia, "Times New Roman", Times, serif;
        font-weight: normal;
        text-align: center;
    }

#Botones {
    text-align: center;
    height: 40px;
    width: 99%;
}


/*Modificación de un bien o lote*/
#bodyContenedorModificacionDeUnBienoLote {
    width: 932px;
    /*height: 1100px;*/
    margin-right: 6px;
}
#bodyInfoAdquisicionModificacion {
    margin-left: 0.6%;
    width: 45%;
    height: 742px;
    float: left;
    position: relative;
    padding: 0 10px;
    clear: both;
    margin-top: 23px;
    margin-bottom: 20px;
    text-align: center;
}

#bodyInfoAdquisicionModificacion h2 {
        width: 413px;
        height: 30px;
        display: block;
        color: #3C2724;
        font: 15px/20px Georgia, "Times New Roman", Times, serif;
        font-weight: normal;
        text-align: center;
    }

#bodyInfoGeneralModificacion {
    margin-left: 2%;
    padding: 0 6px;
    width: 45%;
    float: left;
    height: 745px;
    margin-top: 23px;
    text-align: center;
}

#bodyInfoGeneralModificacion h2 {
        width: 445px;
        height: 55px;
        display: block;
        color: #3C2724;
        font: 15px/20px Georgia, "Times New Roman", Times, serif;
        font-weight: normal;
        text-align: center;
    }

#divModificacionDeUnBien {
    text-align: center;
}

#TextBoxNoDeLote {
    width: 10%;
}

#TextBoxNoDeInventario {
    width: 10%;
}

#TextBoxModificacionDelBien {
    font-style: italic;
    font-size: 15px;
    text-align: center;
    background-color: silver;
    width: 100%;
    height: 20px;
}

#BotonesModificacion {
    text-align: center;
    height: 30px;
    width: 100%;
}

.Lbl25
{
    width:25%;
}

.DropGeneral {
    margin-top: 10px;
    Height: 20px;
    Width: 410px;
    border: 1px solid #0c2261;
    color: black;
}
.TxtGeneral {
    width: 400px;
    Height: 17px;
    Font-Size: Medium;
    font-family: Verdana;
    font-size: small;
    font-weight: 400;
    border: 1px solid #0c2261;
    color: black;
}


/*Registro de un bien*/
#bodyContenedorRegistro {
    width: 100%;
    height: auto;
}

.Drop {
}

.TextBox1 {
    Height: 20px;
    Width: 433px;
    text-transform: uppercase;
}

.TextBox {
    Height: 16px;
    Width: 160px;
    text-transform: uppercase;
}

